<match-navigation selected="block-scorer" is-fixture="false"></match-navigation>
<breadcrumbs items="breadcrumbItems"></breadcrumbs>
<div class="container">
	<h1>Block Scorer</h1>
	Hello {{world}}!
	<table>
		<tr>
			<th>Time</td>
			<td>Team</td>
			<td>Score</td>
		</tr>
		<tr ng-repeat="blockScore in blockScores">
			<td>{{matchTime(blockScore.matchBlock.touches[0]._min,blockScore.matchBlock.touches[0]._sec)}}</td>
			<td>{{getTeamById(blockScore.matchBlock._team_id).Name}}</td>
			<td>{{blockScore.score}}</td>
		</tr>
	</table>
</div>