<match-navigation selected="score-touch" is-fixture="false"></match-navigation>
<div class="container">
	<h1>Score Touches</h1>
	<div ng-repeat="touchScores in touchScoreSet" ng-if="touchScoreSet">
		<h2>Block {{$index}}</h2>
		<table class="table table-striped stats-table" ng-if="touchScores">
			<tr>
				<th>Score</th><th>ID</th><th>Time</th><th>Team</th><th>Player</th><th>Event</th>
				<th>X,Y</th><th>Qualifiers</th>
			</tr>
			<tr ng-repeat="touchScore in touchScores">
				<td>{{touchScore.score}}</td>
				<td>{{touchScore.touch._event_id}}</td>
				<td title="{{touchScore.touch._timestamp}}">{{matchTime(touchScore.touch._min,touchScore.touch._sec)}}</td>
				<td>{{getTeamById(touchScore.touch._team_id).Name}}</td>
				<td><span ng-if="touchScore.touch._player_id">{{findPlayer(touchScore.touch._player_id).getName()}} </span></td>
				<td title="{{touchScore.touch._type_id}} - {{optaEventCodes[touchScore.touch._type_id].description}}">{{optaEventCodes[touchScore.touch._type_id].name}}&nbsp;
				<span ng-if="touchScore.touch._outcome" title="successful outcome" style="color:rgb(20,127,20);" class="glyphicon glyphicon-ok-sign"></span></td>
				<td>{{touchScore.touch._x}},{{touchScore.touch._y}}</td>
				<td>
					<ul ng-if="touchScore.touch.Q" class="list-inline">
						<li ng-repeat="qualifier in touchScore.touch.Q" class="event-qualifier">
							<opta-event-qualifier qualifier="qualifier"/>
						</li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
</div>
<pre>{{touchScores}}</pre>