<breadcrumbs items="breadcrumbItems"></breadcrumbs>
<match-navigation selected="score-touch" is-fixture="false"></match-navigation>
<div class="container">
	<h1 ng-if="timeline">Timeline</h1>
	<p ng-if="timeline">Timeline based on the scores of each individual touch</p>
	<div d3-bars bar-height="50" bar-padding="2" data="timeline.home" invert="1" ng-if="timeline" max="250"></div>
	<div d3-bars bar-height="50" bar-padding="2" data="timeline.away" invert="0" ng-if="timeline" max="250"></div>
	<select ng-model="timelineResolution" ng-init="timelineResolution=2" ng-change="drawTimeLine()">
		<option value="1">1 minute</option>
		<option value="2">2 minutes</option>
		<option value="5">5 minutes</option>
		<option value="10">10 minutes</option>
		<option value="15">15 minutes</option>
	</select>
	<p>Resolution-{{$timelineResolution}}</p>
	<h1>Touch Scores</h1>
	<div ng-repeat="touchScores in touchScoreSet|limitTo:40" ng-if="touchScoreSet">
		<h2>Block {{$index}} - {{getTeamById(touchScores._team_id).Name}}</h2>
        <div style="display: inline-block; width: calc({{touchScores.blockScore.score|number:2}} * 10%); height: 25px; background-color: #fede2d; padding:3px; margin-bottom:5px">{{touchScores.blockScore.score|number:2}}</div>
		<table class="table table-striped stats-table" ng-if="touchScores">
			<tr>
				<th>Percentage</th><th>Ratio</th><th>Score</th><th>ID</th><th>Time</th><th>Team</th><th>Player</th><th>Event</th>
				<th>X,Y</th><th>Qualifiers</th>
			</tr>
			<tr ng-repeat="touchScore in touchScores.scores">
				<td>{{touchScore.percentage*100|number:2}}%</td>
				<td>{{touchScore.awardRatio|number:2}}</td>
				<td><div style="display: inline-block; width: calc({{touchScore.score|number:2}} * 10%); height: 25px; background-color: #fede2d; padding:3px; margin-bottom:5px">{{touchScore.score|number:2}}</div>
				<td>{{touchScore.touch._event_id}}</td>
				<td title="{{touchScore.touch._timestamp}}">{{matchTime(touchScore.touch._min,touchScore.touch._sec)}}</td>
				<td>{{getTeamById(touchScore.touch._team_id).Name}}</td>
				<td><span ng-if="touchScore.touch._player_id">{{findPlayer(touchScore.touch._player_id).getName()}} </span></td>
				<td title="{{touchScore.touch._type_id}} - {{optaEventCodes[touchScore.touch._type_id].description}}">{{optaEventCodes[touchScore.touch._type_id].name}}&nbsp;
				<span ng-if="touchScore.touch._outcome" title="successful outcome" style="color:rgb(20,127,20);" class="glyphicon glyphicon-ok-sign"></span></td>
				<td>{{touchScore.touch._x}},{{touchScore.touch._y}}</td>
				<td>
					<ul ng-if="touchScore.touch.Q" class="list-inline">
						<li ng-repeat="qualifier in touchScore.touch.Q" class="event-qualifier">
							<opta-event-qualifier qualifier="qualifier"/>
						</li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
</div>
<pre>{{touchScores}}</pre>
